@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

:root {
	--main-color:#9F0FFF;
	--handbrake-color:black;
	--handbrake-opacity:0.4;
	--light-stroke:rgba(0,0,0,0.4);
}

.gauge-title {
	font-size: 14px;
	fill: #FFFFFF;
}
.gauge-value {
	font-size: 24px;
	fill: #FFFFFF;
}
.gauge-unity {
	font-size: 14px;
	fill: #FFFFFF;
}
#container {
	display: none;
}
#kmhshow, #kmhbg {
	position: fixed;
	bottom: 51.2px;
	right: 51.2px;
	filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.1));
}
#kmhbg {
	filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
}


.speeddisplay {
	font-size: 64px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: var(--main-color);
}

.gray {
	color: rgba(255, 255, 255, 0.34);
}

.int1 {
	position: fixed;
	bottom: 155px;
	right: 188px;
}

.int2 {
	position: fixed;
	bottom: 155px;
	right: 148px;
}

.int3 {
	position: fixed;
	bottom: 155px;
	right: 108px;
}

.unitdisplay {
	position: fixed;
	bottom: 145px;
	right: 155px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 12px;
}

#fuel-wrapper {
	display: inline-flex;
	align-items: center;
	position: absolute;
	right: 95px;
	bottom: 55px;
}

#fuel-progress {
	width: 130px;
	height: 8px;
	background: linear-gradient(to right, var(--main-color) var(--fuel-value),rgba(29, 29, 29, 0.51) var(--fuel-value));
	border-radius: 4px;
	margin-left: 5px;
	transition: all ease-in-out 0.2s;
}

#speedometer {
	position: absolute;
	bottom: 80px;
	right: 50px;
}

#health {
	position: absolute;
	bottom: 70px;
	right: 270px;
}

#health > svg {
	position: absolute;
	bottom: 25px;
	right: -10px;
}

#inner-icons {
	position: absolute;
	bottom: 100px;
	right: 142px;
}
